MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.gxaghqa.mongodb.net/driver-service?appName=Cluster0
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.gxaghqa.mongodb.net/driver-service?appName=Cluster0
